@media not all and(max-width: 600px){
    #card{
        margin-top: -176px;
    }
}

#Categories{
    height: 20rem;
}

.carousel {
    max-height: 22rem;
}
.carousel-item
{
}

/*
.carousel-item.i3
{
    bottom: 30px;
    position: relative;
}
.carousel-item.i2
{
    bottom: 30px;
    position: relative;
}
.carousel-item.i1
{
    bottom: 30px;
    position: relative;
}
*/
