@media not all and(max-width: 600px){
    #card{
        margin-top: -176px;
    }
}

#Categories{
    height: 20rem;
}

#Categories1{
    height: 20rem;
}

#Categories2{
    height: 20rem;
}

.carousel {
    max-height: 25rem;
}



